extends layout

block content
  h1= title
  p Welcome to (Facebook, Twitter, Google and GitHub) authentication (login) in #{title}
  p Multiple social media (Facebook, Twitter, Google and GitHub) authentication (login) using Node, Express, Mongoose and `Passport.js`
  p
    a(href="/users") Go to User Login Page
